<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forms Templates</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <h1>Form Templates</h1>
    <div class="forms-container">
      <div class="form-wrap">
        <div class="form-group">
          <div class="name-wrap">
            <label for="name">Enter Your Name</label>
            <input type="text" id="name" placeholder="John Doe" required />
          </div>
          <div class="email-wrap">
            <label for="email">Enter Your Email</label>
            <input type="text" id="email" placeholder="myemail.com" required />
          </div>
          <div class="phone-wrap">
            <label for="number">Contact Number</label>
            <input
              type="number"
              id="number"
              placeholder="+91 9876543210"
              required
            />
          </div>
          <div class="msg-wrap">
            <label for="msg">Enter Your Message</label>
            <textarea name="msg" id="" cols="30" rows="10"></textarea>
          </div>

          <button class="btn-global">Submit</button>
        </div>
      </div>
    </div>
  </body>
</html>
